<div class="navbar-fixed" >
    <nav id="header">
        <div class="nav-wrapper">
            <a ui-sref="app.dashboard" class="brand-logo">
                <img class="responsive-img logo" src="img/logo.png" alt="">
                <span class="logotitle">Uniqu<strong class="colored">Orn</strong></span>
            </a>

            <div class="input-field right">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
    </nav>
</div>
