@import "colors";

#header {
    background-color: $principal;
    z-index: 1;

    .logo {
        width: 60px;
        margin: 2px 20px;
    }

    .logotitle {
        padding: 5px;
        position: absolute;
    }

    .colored {
        color: $textimportant;
    }
}

#prelogin {
    height: 85vh;
    background-image: url('../img/bg.png');

    a {
        top: 40vh;
    }
}

#login, #register {
    background-image: url('../img/bg.png');
    height: 85vh;

    .container {
        background-color: white;
        padding: 30px;
        opacity: 0.85;
    }
}

#footer {
    bottom: 0;
    width: 100%;
}

#dashboard,
#panel {
    .account {
        height: 100vh;
        background-color: $textimportant;
        position: fixed;
        right: 0;
    }

    .avatar {
        width: 100px;
        margin-top: 3em;
    }

    .dashmenu {
        font-size: 18px;
        font-weight: 200;

        p {
            cursor: pointer;
        }
    }

    .unicornname {
        color: $textimportant;
        font-size: 18px;
        font-weight: 300;
    }

    .imgunicorn {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 10em;
        width: 100%;
    }
}

#unicorn {
    .imgunicorn {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20em;
        width: 100%;
    }

    .btnedit {
        background-color: $btnsecondaire;
        color: white;
    }
}

.btnedit {
    background-color: $btnsecondaire;
    color: white;
}
